<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>LearnPro Task Solution</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<style>
</style>

<body>

    <table id="data-table">
        <tr>
          <th>Asset tag:</th>
          <th>Assigned to:</th>
          <th>Date bought:</th>
          <th>Date decommissioned:</th>
          <th>Device type:</th>
          <th>Operating system:</th>
        </tr>

        <tr id="data-body">
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
          <th>6</th>
        </tr>

      </table>

<script src="/scripts/main.js"></script>
<!-- <script src="/scripts/data_pull.js"></script> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>